@page
@model Verlofsite.Pages.Personeelsbeheer.Inschrijvingen.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inschrijving</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inschrijving.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inschrijving.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inschrijving.Verlofpoule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inschrijving.Verlofpoule.VerlofpouleID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inschrijving.InschrijvingID">bewerk</a> |
    <a asp-page="./Index">terug naar lijst</a>
</div>
